{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks, [
    {"(linux)", compile, "make -C c_src"}
]}.

{post_hooks, [
    {"(linux)", clean, "make -C c_src clean"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [spi]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
{xref_ignores, [
    {spi, nif_path, 2},
    {spi, nif_path, 0}
]}.
